*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif; 
}

.section{
    width: 100%;
    min-height: 100vh;
    background-color: #ddd;
}

.container{
    width: 80%;
    display: block;
    margin: auto;
    padding-top: 100px;
}

.content-section{
    float: left;
    width: 55%;
}
.image-section{
    float: right;
    width: 40%;
}
.image-section img{
    width: 100%;
    height: auto;
}

.image-section .title{
    text-transform: uppercase;
    font-size: 28px;
}

.content-section .content h3{
    margin-top: 20px;
    color: #ec7e7e;
}
.content-section .content p{
    margin-top: 10px;
    font-family: sans-serif;
    font-size: 18px;
    line-height: 1.5;
}
.content-section .content .button{
    margin-top: 30px;
}
.content-section .content .button a {
    background-color:#f63e4e;
    padding: 12px 40px;
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    letter-spacing: 1.5px;
}
.content-section .content .button a:hover {
    background-color: #5d5d5d;
    color: #fff;
}
.content-section .social{
    margin-top: 40px;
}
.content-section .social i{
    color: #a52a2a;
    font-size: 30px;
    padding: 0px 10px;
}
.content-section .social i:hover{
    color: #5d5d5d;
}

.image-section img{
    width: 100%;
    height: auto;
    display: block;
    margin: auto;
}

.content-section .title{
    text-align: center;
    font-size: 19px;
}

.content-section .content .button{
   text-align: center;
}

.content-section .content .button a {
    padding: 9px 30px;
}

.content-section .social{
    text-align: center;
}

/*footer*/

body{
    line-height: 1.5;
    font-family: 'poppins' sans-serif;
}
.container{
    max-width: 1170px;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}


ul{
    list-style: none;

}
.footer{
background-color: #24262b;
    padding: 50px 0;
}
.footer-col{
    width: 25%;
    padding: 0 15px;
}
.footer-col h4{
    font-size: 18px;
    color: #fff;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 500;
    position: relative;
}
.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #f63e4e;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.footer-col ul li{
    margin-bottom: 10px;
}
.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #fff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover{
    color: #fff;
    padding-left: 8px;
}

.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(126, 10, 10, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #fff;
}